{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <body>
    <form class="form-inline center-block text-center" role="form" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Latitude:</label>
            <input value="{{ lat }}" class="form-control" name="lat">
        </div>
        <div class="form-group">
            <label>Longitude:</label>
            <input value="{{ lon }}" class="form-control" name="lon">
        </div>
        <button type="submit" class="btn btn-default">Search Again</button>
    </form>

    <div class="container-fluid">
        {% for ad in ads %}
        <div class="row col-lg-8 m0 p0">
            <a href="/ad/show/{{ ad.id }}">{{ ad.title }}</a>
        </div>
        {% endfor %}

    </div>
  </body>
{% endblock %}